<h1>Welcome to Book-App</h1>
<div>
    <form>
        <input type="hidden" name="book.id" />
        Enter Title: <input type="text" [(ngModel)] = "book.title" name="title"><br/>
        Enter Author: <input type="text" [(ngModel)] = "book.author" name="author"><br/>
        <button (click) = "addBook()">Add Book</button>
    </form>
</div>

<div>
    <table class="table table-striped table-bordered">
        <tr style="background: lightblue">
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor = "let book of books">
            <th>{{book.id}}</th>
            <th>{{book.title}}</th>
            <th>{{book.author}}</th>
            <th><button (click) = "getBookById(book.id)">Update</button> | <button (click) = "deleteBook(book.id)">Delete</button></th>
        </tr>
    </table>
</div>